{{ define "main" }}
    <header class="page-header">
      <h1>Tag:{{ .Title }}</h1></h1>
    </header>
    <header class="content__header">
        {{ .Content }}
    </header>
  {{ range .Data.Pages }}
    <article class="post">
        <header class="post__header">
          <h4>
	    {{ .PublishDate | time.Format "02 Jan 2006" }} <a href="{{ .Permalink }}">{{ .Title | markdownify }} </a>
	  </h4>
        </header>

        <section class="post__summary">
            {{ .Summary }}
        </section>
	<br>
	{{- partial "tag-list.html" . -}}
   </article>
  {{ end }}
</ul>

{{ end }}
