<div class="menubar">
  <div class="menu-container">
      <a href="/">home</a>
      -
      <a href="/about">about</a>
      -
      <a href="/posts">posts</a>
      -
      <a href="/mysetup">setup</a>
      -
      <a href="/contact">contact</a>
      <!-- -
      <a onclick="switchTheme()">theme</a> -->
      <script>
	var i = "theme"
	var m = (localStorage.getItem(i) || "dark")
	var d = document.documentElement.classList
	if (m == "light") {
    	    d.remove("dark")
    	    d.add(m)
	}
	function switchTheme() {
    	    d.remove(m)
    	    m = (m == "dark") ? "light" : "dark"
    	    d.add(m)
    	    localStorage.setItem(i, m)
	}
      </script>
      <!--{{ range .Site.Menus.main }}
      <a href="{{ .URL }}" >{{ .Page.File.Dir }}</a>
      -
      {{ end }} -->
  </div>
</div>
<!--    <div class="container">
        <div class="header-nav">
          <header class="header-logo">
            <div class="logo terminal-prompt">
              {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
              {{ $.Scratch.Add "path" .Site.BaseURL }}
          <nav class="header-menu">
            <ul vocab="https://schema.org/" typeof="BreadcrumbList">
              <h2><a href="{{ .Site.BaseURL }}" class="no-style {{ with .Site.Params.TitleCutting }}site-name{{ end }}">{{ .Site.Title }}</a>:~# 
                {{ range .Site.Menus.main }}
                <a href="{{ .URL }}" >{{ .Page.File.Dir }}</a>
                {{ end }}
		</h2>
            </ul>
          </nav>
	</div>


<!--    <div class="flex flex-col sm:flex-row items-baseline sm:justify-between">
        <div class="flex flex-col sm:flex-row grow items-baseline">

            <!-- Center aligned hotlinks -->

<!-- <nav class="page__nav main-nav">
    <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="main-nav__item"><a class="nav-main-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}

    {{ range .Site.Menus.external }}
    <li class="main-nav__item"><a class="nav-main-item" href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
    </ul>
</nav> -->

