{{ define "main" }}
    <header class="content__header">
        {{ .Content }}
    </header>

    {{ range .Pages }}
    <article class="post">
        <header class="post__header">
          <h3>
	    {{ .PublishDate | time.Format "02 Jan 2006" }} <a href="{{ .Permalink }}">{{ .Title | markdownify }} </a>
	  </h3>
        </header>

        <section class="post__summary">
            {{ .Summary }}
        </section>
	<br>
	{{- partial "tag-list.html" . -}}
   </article>
    {{ end }}
{{ end }}

