{{ define "main" }}
    <header class="content__header">
        {{ .Content }}
    </header>

    {{ range .Pages }}
    <article class="post">
        <header class="post__header">
          <h3>
	    {{ .PublishDate | time.Format "02 Jan 2006" }} <a href="{{ .Permalink }}">{{ .Title | markdownify }} </a>
	  </h3>
        </header>

        <section class="post__summary">
            {{ .Summary }}
        </section>
	<br>
        <div class="tags-list">
          {{- with .Params.tags -}}
              {{- if ge (len .) 1 -}}
                  {{- range . -}}
	                  <span class ="tags">
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}/">#{{ . }}</a>
	                  </span>
                  {{ end -}}
              {{- end -}}
          {{- end -}}
        </div>
   </article>
    {{ end }}
{{ end }}

