html{
    background-color: #21252B;
    color:#dcdfe4;
    margin: auto;
}

body {
    font: 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


    --monospace: 16px/1.5 "Lucida Console", Monaco, "Consolas", monospace;
}


.menu-container{
    text-align: center;
    font-size: 1.3em; 
    margin-left: auto;
    margin-right: auto;
    border: 1px solid ; 
    background-color: #282c34;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-row: row wrap;
    justify-content: flex-start;
    margin: auto var(--gap);
}

.nav {
    line-height: var(--header-height);
}

.page{
    max-width: 750px;
    width: 90%;
    display: block;
    align: center;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    padding: 15px;
    border: 1px solid ; 
    background-color: #282c34;
}
/* #282c34, #e06c75, #98c379, #e5c07b,
#61afef, #c678dd, #56b6c2, #dcdfe4,
#282c34, #e06c75, #98c379, #e5c07b,
#61afef, #c678dd, #56b6c2, #dcdfe4, */

.menubar {
    display: block;
    text-align: center;
    align: center;
    display: block;
    max-width: 750px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    line-height: 1.2;
    color: #61afef;
    font-size: 2.3em;
    text-align:center;
}
h2 {
    line-height: 1.2;
    color: #56b6c2;
    a {
	background-color: #21252B;
	border-radius: .35em;
	padding: .075em;
	font:var(--monospace);
	font-size: 90%;
    }
    code:hover{
	text-decoration: underline;
	text-underline-position: under;
    }
}

/* .content__body > h3:img::nth-of-type(1) { */
.inline-header {
  float: left;
  margin-right: 0.25em;
  width: 30px;
}

h3 {
    line-height: 1.2;
    color: #56b6c2;
}
h4 {
    line-height: 1.2;
    color: #56b6c2;
}

.content__body > p:first-of-type::first-letter
{
  font-size: 3.0em;
  margin-right: 0.05em;
  font-weight: bold;
  float: left;
}

.header {
    border: 0.5px solid; 
    max-width: 340px;
    margin: auto;
    align: center;
}


.current-page {
    text-decoration: underline;
}

pre {
    background-color: #21252B;
    border: 1px solid ; 
    border-radius: .35em;
    box-shadow: 4px 4px #dcdfe4; 
    word-wrap: break-word;
    padding: 1em;
    white-space: pre-wrap;
    font-size: 80%;
    font: "Lucida Console", Monaco, "Consolas", monospace
} 


code {
    background-color: #21252B;
    border-radius: .35em;
    padding: .075em;
    font:var(--monospace);
    font-size: 90%;
}     

a:hover{
    transition: color .15s ease-in; 
    color:#c678dd !important;
    text-decoration: underline;
    text-underline-position: under;
}

a{
    color:#e06c75;
    text-decoration: none;
}

br {
    display: block;
    margin: 3px 0;
}


.csl-bib-body{
    overflow: auto;
}

.copyright{
    font-size: 0.71em;
}

.post__summary {
    border: 1px solid ; 
    border-radius: .35em;
    box-shadow: 4px 4px #dcdfe4; 
    padding: .575em;
    overflow: scroll;
    max-width: 730px;
    width: auto;
    box-sizing:border-box;
}

.pgp__dropdown {
    font:var(--monospace);
    max-width: 650px;
    width: auto;
    box-sizing:border-box;
}

.tags-list {
    font-size: 0.9em;
    word-spacing: -2px;
}



.hi-svg-inline {
    vertical-align: -0.125rem;
}

.social-icons {
    word-spacing: 2px;
    a:hover{
	text-decoration:none;
    }
}

.ox-hugo-toc{
    font-size: 0.9em;
    background-color: #21252B;
    border: 1px solid ; 
    border-radius: .35em;
    box-shadow: 4px 4px #dcdfe4; 
    width: 300px;
    height: auto;
    box-sizing: border-box;
}

.ox-hugo-toc.toc{
    padding: .575em;
}

.tags{
    background-color: #21252B;
    border-radius: .35em;
    padding: .15em;
    margin-left: .3em;
}

