<div class="header">

  <style>
    .header{text-align: center;}
  </style>

  <div class="menu-container">
    <span class="menu">
      <a href="/">home</a>
    </span>
      -
    <span class="menu">
      <a href="/posts">blog</a>
    </span>
      -
    <span class="menu">
      <a href="/mysetup">setup</a>
    </span>
      -
    <span class="menu">
      <a href="https://github.com/jherzstein">projects</a>
    </span>
    -
    <span class="menu">
      <a href="/contact">contact</a>
    </span>
  </div>
</div> 

